
#About {
    background-image: url("/assets/images/about-bg.jpg") ;
    height: 130vh;
    object-fit: cover;
}

#room {
    width: 800px;
    height: 600px;
    object-fit: fill;
    margin-top: 5px;
    margin-right: 100px;
}

#bar {
    width: 450px;
    height: 600px;
    object-fit: fill;
    margin-left: 100px;
}

.services {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    word-spacing: 3px; 
    padding-top: 250px;
    margin-left: 900px;
    margin-top: 50px;
} 
.about {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    padding-left: 100px;
    word-spacing: 3px;
}

.about-title {
    font-family: "Lora", serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-left: 100px;
    padding-top: 45px;
}
